@import './../../../../assets/styles/_settings';

.menu-container{
	color: var(--white-primary);
	&.active{
		transform: translateX(0);
		opacity: 1;
	}
	@include to($lg){
		transition-duration: 300ms;
		background-color: var(--white-primary);
		color: var(--black-primary);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 70%;
		max-width: 500px;
		box-shadow: 0px 3px 6px #9B9B9B4A;
		padding: 4rem 2rem 3rem 2rem;
		transform: translateX(-100%);
		opacity: 0;
	}
}

@include from($lg){
	.main-menu{
		margin: 0;
	}
}

.menu{
	&__link{
		font-size: 1.25rem;
		display: block;
		padding: 1rem 0;
		@include from($lg){
			display: inline-block;
			font-size: 1rem;
			padding: 0 1.5rem;
		}
	}
	&__list{
		@include from($lg){
			display: flex;
		}
	}
}
