<footer class="main-footer">
	<app-footer-hero></app-footer-hero>
	<section class="l-section grid lg:grid-2 pt-4 cross-center">
		<app-form></app-form>
		<app-footer-info></app-footer-info>
	</section>
	<section class="l-section policy--section">
		<hr class="separator">
		<p class="privacy-text">
			<a href="#">Terminos y condiciones</a>
			<a href="#">Politica de privacidad</a>
		</p>
		<span class="copyright">&copy; 2020 IVERCASA</span>
		<p>Todos los derechos reservados</p>
	</section>
</footer>
