<form class="form-evaluator mt-5 mx-auto cross-center between">
	<div class="full between flex">
		<label for="city" class="mx-1 full">
			<input class="input input-white full midium mb-2" type="text"
				id="city" placeholder="Ciudad"
			/>
		</label>
		<label for="address" class="mx-1 full">
			<input class="input input-white full midium mb-2" type="text"
				id="address" placeholder="Numero de Calle"
			/>
		</label>
	</div>

	<fieldset class="departament flex between nowrap row mb-2">
		<label class="mx-1 item-8">
			<select class="input input-white full">
				<option class="input" value="">Departamento</option>
				<option class="input" *ngFor="let option of options" [value]="option">
					{{ option }}
				</option>
			</select>
		</label>
		<label for="number" class="mx-1 item-2">
			<input class="input input-white full" type="number" name=""
				id="number" placeholder="0"
			>
		</label>
	</fieldset>

	<fieldset class="departament flex between mb-2 nowrap">
		<label for="badroom" class="mx-1 item-5">
			<input class="input input-white full" type="text" name=""
				id="badroom" placeholder="Dormitorios"
			/>
		</label>
		<label for="lift" class="mx-1 item-5">
			<input class="input input-white full" type="text" name=""
				id="lift" placeholder="Ascensor"
			/>
		</label>
	</fieldset>
	<button type="submit" class="btn btn-dark full mx-1">
		Valor
	</button>
</form>
