<form class="form-evaluator mt-5 mx-auto">
	<label for="city">
		<input class="input input-white mb-2 full" type="text"
			id="city" placeholder="Ciudad"
		/>
	</label>
	<label for="address">
		<input class="input input-white mb-2 full" type="text"
			id="address" placeholder="Numero de Calle"
		/>
	</label>

	<fieldset class="departament">
		<label>
			<select class="input input-white mb-2">
				<option class="input" value="">Departamento</option>
				<option class="input" *ngFor="let option of options" [value]="option">
					{{ option }}
				</option>
			</select>
		</label>
		<label for="number">
			<input class="input input-white mb-2" type="number" name=""
				id="number" placeholder="0"
			>
		</label>
	</fieldset>

	<fieldset class="departament">
		<label for="badroom">
			<input class="input input-white mb-2" type="text" name=""
				id="badroom" placeholder="Dormitorios"
			/>
		</label>
		<label for="lift">
			<input class="input input-white mb-2" type="text" name=""
				id="lift" placeholder="Ascensor"
			/>
		</label>
	</fieldset>
	<button type="submit" class="btn btn-dark full">
		Valor
	</button>
</form>
