@import './../../../../assets/styles/_settings';

.company-address{
	padding: 0 .5rem;
	@include from($lg){
		padding: 1.1rem 2rem;
		width: 85%;
	}
}

.caption{
	font-size: 1.25rem;
	margin-bottom: 2rem;
}

