<p><strong>Ivercasa</strong> Inmobiliaria</p>
<p>ic@ivercasa.com</p>
<p>https://www.ivercasa.com</p>

<address>958 123 123 - Acera del Darro 10, 2ª planta Granada 18005 (Granada)</address>

<button>
	<span>Ver en Google maps</span>
</button>

<app-brand></app-brand>

<div>
	<a href="#"></a>
	<a href="#"></a>
</div>

<section class="policy--section">
	<p><a href="#">Terminos y condiciones</a> <a href="#">Politica de privacidad</a></p>
	<span>&copy; 2020 IVERCASA</span>
	<p>Todos los derechos reservados</p>
</section>
