.article{
	border: 2px solid var(--white-darken);
	border-radius: var(--radius);
	&__content{
		padding: 0 0 1rem 1rem;
	}
	&__contact{
		padding: .5rem 1rem;
		background-color: var(--white-darken);
		border-radius: 0 0 var(--radius) var(--radius);
		display: flex;
	}
	&-address{
		font-style: normal;
		font-size: 1.15rem;
		font-weight: 600;
		color: var(--grey-dark)
	}
}
