@import './../../../assets/styles/_settings';
.filter-container{
	margin-top: var(--this-margin, 2rem);
	margin-bottom: var(--this-margin, 2rem);

	@include from($lg){
		grid-template-columns: minmax(20%, 400px) 1fr;
		gap: 3rem;
		--this-margin: 3.5rem;
	}
}

.mobile-search{
	padding: 1.25rem 0;
	background-color: var(--grey-lighter);
	border-bottom: 1px solid var(--grey-dark);
}

.property-up{
	background-color: var(--grey-lighter);
	border-bottom: 1px solid var(--grey-dark);
}
