.article{
	border: 2px solid var(--white-darken);
	border-radius: var(--radius);

	&__img{
		background: url('./../../../../assets/example-card.png') no-repeat center center;
		height: 276px;
		border-radius: var(--radius) var(--radius) 0 0;
	}

	&__content, &__contact{
		padding: 1rem 1.25rem;
		.includes{
			color: var(--grey-dark);
			display: flex;
			flex-wrap: wrap;
			div{
				flex: 0 0 50%;
			}
		}
	}
	&__contact{
		background-color: var(--white-darken);
		border-radius: 0 0 var(--radius) var(--radius);
	}
}
