<form class="footer-form">
	<h3 class="title-3">¿Necesitas mas información?</h3>
	<input class="input input-lighter" type="text" placeholder="Nombre"/>
	<input class="input input-lighter" type="number" placeholder="Telefono"/>
	<input class="input input-lighter" type="email" placeholder="Email"/>
	<textarea class="input input-lighter" placeholder="Mensaje"></textarea>
	<label for="checked-privacy">
		<input type="checkbox" name="" id="checked-privacy">
		<p>Al presionar el botón “ENVIAR” confirmas que has leído, entendido y aceptado las condiciones de nuestra Política de Privacidad mostradas en este LINK</p>
	</label>
	<button type="submit" class="btn btn-dark">Enviar</button>
</form>
