<form class="form-search mx-auto">
	<h2 class="title-2 txt-center form-caption">
		Encontramos <strong>la casa</strong> de sus sueños
	</h2>
	<div class="form-content">
		<div class="selected-type mb-2 full main-center">
			<button class="btn btn-dark">En venta</button>
			<button class="btn">Alquiler</button>
		</div>
		<div class="space-between">
			<label for="property">
				<input class="input input-lighter full mb-2" type="text" name=""
					id="property" placeholder="Tipo de propiedad"
				/>
			</label>
			<label for="search">
				<input class="input input-lighter full mb-2" type="text" name=""
					id="search" placeholder="Busqueda por palabra clave"
				/>
			</label>
			<button class="btn btn-dark">
				¡Busquemos!
			</button>
		</div>
	</div>
</form>
