.form-search{
	max-width: 1000px;
}

.form-caption{
	background-color: var(--grey-dark-alpha);
	border-radius: var(--radius) var(--radius) 0 0 ;
	font-size: 2rem;
	padding: 2rem 3rem;
	color: var(--white-primary);
	margin-bottom: -.5rem;
}
.form-content{
	padding: 0 2rem 2rem;
	background-color: var(--white-primary);
	border-radius: var(--radius);
}
