<form class="form-search mx-auto">
	<h2 class="title-2 txt-center form-caption">
		Encontramos <strong>la casa</strong> de sus sueños
	</h2>
	<div class="form-content">
		<div class="selected-type mb-2 full main-center">
			<button class="tab border-b active">En venta</button>
			<button class="tab border-b">Alquiler</button>
		</div>
		<div class="cross-center between">
			<label for="property" class="mt-2 mx-1">
				<select class="input input-lighter full" id="property">
					<option value="">Tipo de propiedad</option>
				</select>
			</label>
			<label for="search" class="mt-2 mx-1">
				<input class="input input-lighter full" type="text" name=""
					id="search" placeholder="Busqueda por palabra clave"
				/>
			</label>
			<button class="btn btn-dark mt-2 mx-1">
				¡Busquemos!
			</button>
		</div>
	</div>
</form>
