<section class="hero-header cross-center">
	<div class="l-section">
		<form-search></form-search>
	</div>
</section>

<section class="l-section">
	<div class="main-center pt-6 pb-3">
		<h3 class="title-3 full txt-center">
			Propiedades <strong>Destacadas</strong>
		</h3>
		<a routerLink="/search" class="btn btn-dark mt-2 px-6">VER MAS</a>
	</div>
	<div class="propertys-list grid lg:grid-3">
		<property-card *ngFor="let property of principal"
			[property]="property">
		</property-card>
	</div>
</section>

<section class="register-property section-spacer">
	<div class="l-section">
		<h3 class="title-3 full txt-center py-2">
			Valoremos su <strong>propiedad</strong>
		</h3>
		<p class="txt-center">
			¿Quieres conocer el precio de mercado actual de su propiedad?
		</p>
		<form-valuator></form-valuator>
	</div>
</section>
