<section class="footer-hero section-spacer">
	<div class="l-section mx-auto hero-width">
		<h4 class="hero-title">
			Reciba <strong>nuetras noticias</strong> de propiedades
		</h4>
		<form class="main-center">
			<fieldset class="cross-center column lg:row full">
				<label class="full">
					<input class="input input-lighter full"
						type="text" placeholder="Email"
					/>
				</label>
				<button type="submit" class="btn btn-dark px-6">
					Enviar
				</button>
			</fieldset>
			<fieldset class="only-desktop full main-center pt-4">
				<label for="acept-privacy">
					<input type="checkbox" name="" id="acept-privacy">
					Aceptar la política de privacidad
				</label>
				<label for="acept-ads">
					<input type="checkbox" name="" id="acept-ads">
					Aceptar recibir publicidad
				</label>
			</fieldset>
		</form>
	</div>
</section>
