.footer-hero{
	background-image: url(./../../../../assets/footer-hero.png);
	background-size: cover;
	padding: 3.15rem 0;
}
.hero-title{
	font-size: 1.25rem;
	text-align: center;
	padding-bottom: 2rem;
	font-weight: 400;
}
