<section class="footer-hero section-spacer">
	<div class="l-section mx-auto hero-width">
		<h4 class="hero-title">
			Reciba <strong>nuetras noticias</strong> de propiedades
		</h4>
		<form class="main-center">

			<fieldset class="main-center full lg:80">
				<label class="lg:60 full mx-1 mb-3 lg:mb-0">
					<input class="input input-lighter full"
						type="email" placeholder="Email"
					/>
				</label>
				<button type="submit" class="btn btn-dark px-6 mx-1 to-end">
					Enviar
				</button>
			</fieldset>

			<fieldset class="full flex between pt-4">
				<label for="acept-privacy" class="txt-center">
					<input type="checkbox" name="" id="acept-privacy">
					Aceptar la política de privacidad
				</label>
				<label for="acept-ads" class="txt-center">
					<input type="checkbox" name="" id="acept-ads">
					Aceptar recibir publicidad
				</label>
			</fieldset>
		</form>
	</div>
</section>
