/* You can add global styles to this file, and also import other style files */
:root{
	// BRAND COLORS
	--black-primary: #000000;
	--black-second: #232323;
	--black-third: #484848;
	--black-lighter:#707070;

	--grey-dark: #9E9E9E;
	--grey-medium: #C6C6C6;
	--grey-lighter: #E1E1E1;
	--grey-lighter-alpha: #00000029;

	--white-primary: #FFF;
	--white-second: #F8F8F8;
	--white-third: #E7E7E7;
	--white-darken: #F7F7F7;

}
