// ========================================================================
// ------------------------- MODULAR STYLES -------------------------------
// ========================================================================
@import './_settings';

.l-section{
	width: calc(100% - var(--l-space));
	margin-left: var(--l-margin, 1rem);
	margin-right: var(--l-margin, 1rem);
	max-width: var(--max-width);
	@include from($max-width){
		margin-left: auto;
		margin-right: auto;
	}
}

.flex, .cross-center, .main-center, .cross-end, .cross-start, .main-end, .space-between{
	display: flex;
	flex-wrap: wrap;
}
.row{
	flex-direction: row;
}
.column{
	flex-direction: column;
}

.nowrap{
	flex-wrap: nowrap;
}

.cross-center{
	align-items: center;
	align-content: center;
}
.main-center{
	justify-content: center;
}

.cross-end{
	align-content: flex-end;
}

.main-end{
	justify-content: flex-end;
}
.space-between, .between{
	justify-content: space-between;
}
.between{
	& > * {
		flex: auto;
	}
	.item-8{
		flex-grow: 8;
	}
	.item-2{
		flex-grow: 2;
	}
	.item-5{
		flex-grow: 5;
	}
}


// fixed
.to-end{
	margin-right: 0;
    margin-left: auto;
}
.to-start{
	margin-left: 0;
	margin-right: auto;
}

// ========================================================================
// ------------------------- COMPONENTS STYLES ----------------------------
// ========================================================================

.btn, .input, .btn-icon, .btn-icon-only{
	border-radius: var(--radius);
}
.tab{
	padding: 1rem 1.5rem;
	transition: all 300ms ease;
	background-color: transparent;
	&.border-t{
		border-radius: var(--radius) var(--radius) 0 0;
	}
	&.border-b{
		border-radius: 0 0 var(--radius) var(--radius);
	}
	&.active{
		background-color: var(--black-primary);
		color: var(--white-third);
	}
	&:not(.active):hover{
		background-color: var(--black-lighter);
		color: var(--white-third);
	}
}

.input-icon{
	border-radius: var(--radius);
	padding: .7rem 1.5rem;
	input{
		width: 100%;
		height: 100%;
	}
}
.btn-icon{
	padding: .75rem 1.75rem;
}
.btn-icon, .input-icon{
	display: inline-flex;
	align-items: center;
	font-weight: 700;
	// variant
	&.border-alpha{
		background-color: transparent;
		border: 1px solid var(--white-primary);
		color: var(--white-primary);
	}
	// variant
	&.border-grey{
		border: 1px solid var(--black-lighter);
	}
	&.dt-grey{
		background-color: var(--white-primary);
		border: 2px solid var(--grey-lighter);
		&:hover{
			border-color: #128fb5aa;
		}
	}
}

.btn-icon-only{
	display: inline-flex;
	justify-content:center;
	align-content: center;
	padding: 1rem;
	// variant
	&.border-alpha{
		border: 1px solid var(--white-primary);
	}
	// variant
	&.border-grey{
		border: 1px solid var(--grey-medium);
	}
}

.btn-icon-24{
	width: 36px;
	height: 36px;
	border-radius: var(--radius);
	background-color: var(--white-third);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: var(--black-primary);
}

.btn, .input{
	padding: 1rem 1.5rem;
	transition: all 200ms ease-in;
	border: 2px solid transparent;
	//variant
	&-lighter{
		background-color: var(--grey-lighter);
		color: var(--black-primary);
	}
	//variant
	&-white{
		background-color: var(--white-primary);
		color: var(--black-primary);
	}
	//variant
	&-dark{
		background-color: var(--black-primary);
		color: var(--grey-lighter);
		&:hover{
			color: tan;
		}
	}
	//variant placeholder
	&::placeholder{
		color: inherit;
	}
	&.border-grey{
		background-color: var(--white-primary);
		border: 2px solid var(--grey-lighter);
		&:hover{
			border-color: #128fb5aa;
		}
	}
}
select.input, select.btn{
	padding: calc(1rem + 2px) 1.5rem;
}
.input{
	&:hover, &:focus{
		border-color: #128fb5aa;
	}
}

.full{
	width: 100%;
}

.title-1, .title-2, .title-3, .title-4{
	font-weight: normal;
}
.title-1{
	font-size: 2rem;
}

.title-2{
	font-size: 1.75rem;
}
.title-3{
	font-size: 1.5rem;;
}
.title-4{
	font-size: 1.25rem;
}

.txt-center{
	text-align: center;
}
.align{
	display: table-cell;
    vertical-align: middle;
}

@include from($lg){
	.title-1{
		font-size: 2.25rem;
	}

	.title-2{
		font-size: 2rem;
	}
	.title-3{
		font-size: 1.75rem;;
	}
	.title-4{
		font-size: 1.5rem;
	}
}

.block{
	display: block;
}

// ========================================================================
// ------------------------- LAYOUT STYLES -------------------------------
// ========================================================================

.grid{
	display: grid;
	grid-template-columns: 100%;
	gap: var(--grid-gap);
}

.section-spacer{
	padding-top: var(--section-spacer, 3.1rem);
	padding-bottom: var(--section-spacer, 3.1rem);;
}

@include from($lg){
	.lg\:50\%{
		width: 50%;
	}
	.lg\:grid-2{
		grid-template-columns: repeat(2, 1fr);
	}
	.lg\:grid-3{
		grid-template-columns: repeat(3, 1fr);
	}
	.lg\:column{
		flex-direction: column;
	}
	.lg\:row{
		flex-direction: row;
	}
}


.mx-auto{
	margin-right: auto;
	margin-left: auto;
}

@for $i from 1 to 7{

	// MARGINS
	.ms-#{$i}{
		margin-left: #{$i * .5}rem;
	}
	.me-#{$i}{
		margin-right: #{$i * .5}rem;
	}
	.mx-#{$i}{
		margin-right: #{$i * .5}rem;
	    margin-left: #{$i * .5}rem;
	}
	.mt-#{$i}{
		margin-top: #{$i * .5}rem;
	}
	.mb-#{$i}{
		margin-bottom: #{$i * .5}rem;
	}
	.my-#{$i}{
		margin-top: #{$i * .5}rem;
	    margin-bottom: #{$i * .5}rem;
	}

	// PADDINGS
	.ps-#{$i}{
		padding-left: #{$i * .5}rem;
	}
	.pe-#{$i}{
		padding-right: #{$i * .5}rem;
	}
	.px-#{$i}{
		padding-right: #{$i * .5}rem;
	   padding-left: #{$i * .5}rem;
	}
	.pt-#{$i}{
		padding-top: #{$i * .5}rem;
	}
	.pb-#{$i}{
		padding-bottom: #{$i * .5}rem;
	}
	.py-#{$i}{
		padding-top: #{$i * .5}rem;
	   padding-bottom: #{$i * .5}rem;
	}
}

@include from ($lg){
	.lg\:ms-0{
		margin-left:0;
	}
	.lg\:me-0{
		margin-right:0;
	}
	.lg\:mx-0{
		margin-right:0;
	    margin-left:0;
	}
	.lg\:mt-0{
		margin-top:0;
	}
	.lg\:mb-0{
		margin-bottom:0;
	}
	.lg\:my-0{
		margin-top:0;
	    margin-bottom:0;
	}
}


.only-mobile{
	@include from($lg){
		display: none;
	}
}

.only-desktop{
	@include to($lg){
		display: none;
	}
}
